name: ac17
description: Flutter Firebase Cloud Messaging Activity 17
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6

  # Firebase core
  firebase_core: ^3.1.1

  # Firebase messaging
  firebase_messaging: ^15.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
